# Django and Core Dependencies
Django==4.1
djangorestframework==3.14.0
django-cors-headers==3.13.0

# Database
dj-database-url==1.0.0

# Deployment
gunicorn==20.1.0
whitenoise==6.2.0

python-decouple==3.8
Pillow==9.2.0

# Vercel specific
psycopg2-binary==2.9.5
